<template>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Subjects
        <small>Add subject</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
     <div class="row">
      <div class="col-md-4">
           <!-- Input addon -->
           <div class="box box-success">
             <!-- <div class="box-header with-border">
               <h3 class="box-title">Input Addon</h3>
             </div> -->
             <div class="box-body">
              <form action="#"  @submit.prevent="submitForm()" autocomplete="off">
                <div class="row">
                 <div class="col-md-12">
                  <h4 >Subjects</h4>
                 </div>
                 <div class="col-md-12">
                    <div class="form-group">
                       <label for="LastName">Subject Name</label>
                        <input type="text" class="form-control" v-model="subject_name" >
                    </div>
                 </div>
                </div>
                <button class="btn btn-success" id="btnSubmit">Add Subject</button>
              </form>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
         </div>
     </div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
 .ladda-button {
      padding: 7px 15px;
 }
</style>
<script type="text/javascript">

 export default{
   data(){
     return{
        subject_name: ''
   }
   },
   mounted(){
   },
   methods: {
     add(){
      this.numContent++;
     },
     submitForm () {
      confirm_alert('The subject will be added','','info').then((response) => {
        var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
        l.start();
        let url = base_url+'Subjects/add';
        axios.post(url, {
           token: getCookie('csrf_token'),
           subject_name: this.subject_name
         })
         .then((response) => {
           if(response.data.message=="success") {
               l.stop();
               $("#btnSubmit").removeClass('ladda-button');
               swal("Added Successfully","","success");
               setTimeout(()=>{
                window.location.href = base_url +"admin/Dashboard#/manage_exams"
               },2000)
           }
           else {
            l.stop();
            $("#btnSubmit").removeClass('ladda-button');
            swal("Subject already exists","","error");
           }
         })
         .catch(function (error) {
           console.log(error);
         });
      });
      
     }
   }
 }
</script>