<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       	Manage Users
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-8">
    			<!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Users</h3>
            </div>
            <div class="box-body">
            	<table id="tbl_users" class="table table-bordered table-striped">
                <thead>
                <tr>
                	<th>Row</th>
                  <th>Name</th>
                  <th>Reference No.</th>
                  <th>Status</th>
                  <th>Role</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                  <td>{{++index}}</td>
                  <td>{{val.last_name + ", " + val.first_name}} <span v-if="val.middle_name!=''"> {{val.middle_name}}</span></td>
                  <td>{{val.reference_number}}</td>
                  <td v-if="val.status==1">Active</td>
                  <td v-else>Inactive</td>
                  <td >{{val.role}}</td>
                  <td>
                  	<button class="btn btn-default" @click="edit(val.reference_number)"><i class="fa fa-edit" ></i></button>
                  	<button class="btn btn-default" @click="deleteUser(val.reference_number)"><i class="fa fa-times" ></i></button>
                   	<button class="btn btn-default" @click="changeStatus(val.reference_number,val.status)">Change Status</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    		</div>
    	</div>
    </section>
  </div>
</template>
<script type="text/javascript">
	export default{
	  data(){
	    return{
        rows: [],
			}
	  },
	  mounted () {
      loading()
	  	this.setTable();
      setTimeout(()=>{
        close_loading()
      },1000)
	  },
	  methods: {
	  	setTable() {
        const url = `${base_url}/Users/get_users`;
        axios.get(url)
			  .then((response) => {
           this.rows = response.data.users;
          setTimeout(() => {
          	 $('#tbl_users').DataTable()
          })
        })
			  .catch(function (error) {
			    console.log(error);
			  });
	  	},
	  	edit(reference_number) {
	  		this.$router.push(`/edit_user/${escape(reference_number).replace(/\//g,"$st")}`);
	  	},
	  	deleteUser(reference_number) {
	  		confirm_alert('Are you sure?','You won\'t be able to revert this! ','warning').then((response) => {
 		  		const url = `${base_url}Users/delete`;
 	        axios.post(url,{
 	        	 token: getCookie('csrf_token'),
 				       reference_number: reference_number
 	        })
   				  .then((response) => {
    						location.reload();
    	    })
   				  .catch(function (error) {
   				    console.log(error);
   				  });
 				});
	  	},
    changeStatus(reference_number,status){
      confirm_alert('Are you sure?','You won\'t be able to revert this! ','warning').then((response) => {
       const url = `${base_url}Users/changeStatus`;
       axios.post(url,{
          token: getCookie('csrf_token'),
          reference_number: reference_number,
          status:status
        })
       .then((response) => {
        location.reload();
       })
       .catch(function (error) {
         console.log(error);
       });
      });
	   }
   }
	}
</script>