<template>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Subjects
        <small>Manage subject</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
     <div class="row">
      <div class="col-md-12">
           <!-- Input addon -->
           <div class="box box-success">
             <!-- <div class="box-header with-border">
               <h3 class="box-title">Input Addon</h3>
             </div> -->
             <div class="box-body">
                <div class="row">
                 <div class="col-md-12">
                  <h4 v-html="subject_name"></h4>
                 </div>
                </div>
                 <div class="row" v-for="(val, index) in numContent" :key="index">
                    <div class="col-md-5">
                      <label for="question">Question</label>
                      <div class="input-group">
                        <span class="input-group-addon">{{index + 1}}</span>
                        <input type="text" class="form-control" v-model="questions[index]">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="choices">Choices</label>
                     	<div v-for="(val,index2) in numChoices" :key="index2" >
                     		<div class="input-group">
	                        <span class="input-group-addon" v-if="index2==0">A</span>
	                        <span class="input-group-addon" v-if="index2==1">B</span>
	                        <span class="input-group-addon" v-if="index2==2">C</span>
	                        <span class="input-group-addon" v-if="index2==3">D</span>
	                        <input type="text" class="form-control" v-model="choices[index][index2]">
	                      </div>
                     	</div>
                    </div>
                    <div class="col-md-2">
                    	<label for="LastName">Course</label>
                    	<select class="selectpicker" :class="`course${index}`" v-model="courses[index]" multiple data-live-search="true" style="width: 100%;" >
											  <option v-for="(val3, index3) in list_courses" :value="val3.course_id">{{val3.course_name}}</option>
											</select>
                    </div>
                    <div class="col-md-1">
                      <label for="LastName">Answer</label>
                      <select class="form-control" v-model="answers[index]" >
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                      </select>
                    </div>
                 </div>
                 <br>
                <button class="btn btn-success" id="btnSubmit" style="display:inline-block;" @click="submitForm">Update Exam</button>
                <button class="btn btn-success"  style="display:inline-block;" @click="add()">Add Question</button>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
         </div>
     </div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
 .ladda-button {
      padding: 7px 15px;
 }
 .input-group {
  margin-bottom: 5px;
 }
 .bootstrap-select {
 	width: 100% !important;
 } 
</style>
<script type="text/javascript">

 export default{
   data(){
	     return{
	        subject_name: '',
	        questions: [],
	        choices:[],
	        answers: [],
	        courses:[],
	       	numContent: 0,
	       	numChoices: 4,
	       	list_courses:[]
	   }
   },
   created(){
   
   },
   mounted(){
    loading()
    this.subject_name = this.$route.params.id.replace(/\$st/g,"/");
   		this.getQuestions()
   		this.getCourses()
   		setTimeout(()=>{
   				$('.selectpicker').selectpicker('refresh');
       close_loading()
   		},2000)
   },
   methods: {
     add(){

     	var i = this.numContent;
      this.questions[i] = '' 
      this.answers[i] = 'A'
      this.courses[i] = []
      var choicesArr = []
   		for(var y=0; y < this.numChoices; y++ ) {
   			choicesArr[y] = ''
   		}
   		this.choices[i] = choicesArr;
   		this.numContent++;
   		setTimeout(()=>{
   				$('.selectpicker').selectpicker('refresh');
   		})
     },
     submitForm(){
     	var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
			l.start();
     	let url = base_url+'Exams/edit';
     	axios.post(url, {
         token: getCookie('csrf_token'),
         subject_name: this.subject_name,
         questions: JSON.stringify(this.questions),
         choices: JSON.stringify(this.choices),
         courses: JSON.stringify(this.courses),
         answers: JSON.stringify(this.answers)
       })
       .then((response) => {
         if(response.data.message=="success") {
             l.stop();
             $("#btnSubmit").removeClass('ladda-button');
             swal("Updated Successfully","","success");
         }
         else {
          console.log(response.data.message);
         }
       })
       .catch(function (error) {
         console.log(error);
       });
     },
     getCourses(){
     	const url = `${base_url}/Courses/get_courses`;
        axios.get(url)
		     .then((response) => {
		        this.list_courses = response.data.course;
		      })
		     .catch(function (error) {
		       console.log(error);
		     });
     },
     getQuestions () {
      let url = base_url+'Exams/getQuestions';
     	axios.post(url, {
         token: getCookie('csrf_token'),
         subject_name: this.subject_name,
       })
       .then((response) => {
     		var questions = response.data.questions;
     		if(response.data.questions){
     			var question_desc =JSON.parse(questions.question_desc)
	        if(question_desc !=null && question_desc.length > 0) {
	        	this.questions = question_desc
	        	this.choices = JSON.parse(questions.question_choices)
	        	this.answers = JSON.parse(questions.question_answer)
	        	this.courses = JSON.parse(questions.courses)
	        	this.numContent = question_desc.length;
	        	setTimeout(()=>{
			   			$('.selectpicker').selectpicker('refresh');
			   		})
	        }
     		}
       else {
	        for(var x = 0; x < 5; x++){
			   		this.questions[x] = ''
			   		this.courses[x] = []
			   		this.answers[x] = 'A'
			   		var choicesArr = []
			   		for(var y=0; y < this.numChoices; y++ ) {
			   			choicesArr[y] = ''
			   		}
			   		this.choices[x] = choicesArr;
			   		this.numContent++;
			   		setTimeout(()=>{
			   				$('.selectpicker').selectpicker('refresh');
			   		})
			   	}
	      }
	    }).then(()=>{
	    	$('.selectpicker').selectpicker();
	    })
       .catch(function (error) {
         console.log(error);
       });
     }
   }
 }
</script>