<template>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manage Exam
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
     <div class="row">
      <div class="col-md-8">
       <!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Subjects</h3>
            </div>
            <div class="box-body">
             <table id="tbl_subjects" class="table table-bordered table-striped">
                <thead>
                <tr>
                 <th>Row</th>
                 <th>Name</th>
                 <th>Date Created</th>
                 <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                  <td>{{++index}}</td>
                  <td>{{val.subject_name }}</td>
                  <td >{{val.created_at}}</td>
                  <td>
                   <button class="btn btn-default" @click="edit(val.subject_name)" ><i class="fa fa-edit" ></i></button>
                   <button class="btn btn-default" @click="deleteExam(val.subject_name)"><i class="fa fa-times" ></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
      </div>
     </div>
    </section>
  </div>
</template>
<script type="text/javascript">
 export default{
   data(){
     return{
        rows: [],
   }
   },
   mounted () {
      loading()
    this.setTable();
      setTimeout(()=>{
        close_loading()
      },1000)
   },
   methods: {
    setTable() {
        const url = `${base_url}/Subjects/get_subjects`;
        axios.get(url)
     		.then((response) => {
           this.rows = response.data.subjects;
          setTimeout(() => {
            $('#tbl_subjects').DataTable()
          })
        })
     .catch(function (error) {
       console.log(error);
     });
    },
    edit(subject) {
    	loading();
    	setTimeout(()=>{
        this.$router.push(`/edit_exam/${escape(subject).replace(/\//g,"$st")}`);
      },1000)
     
    },
    deleteExam(subject_name) {
     confirm_alert('Are you sure?','You won\'t be able to revert this! ','warning').then((response) => {
      const url = `${base_url}Exams/delete`;
      axios.post(url,{
        token: getCookie('csrf_token'),
       subject_name: subject_name
      })
      .then((response) => {
       location.reload();
      })
      .catch(function (error) {
        console.log(error);
      });
    });
    }
   }
 }
</script>