<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Exam
        <small>Manage settings</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-6">
	          <!-- Input addon -->
	          <div class="box box-success">
	            <!-- <div class="box-header with-border">
	              <h3 class="box-title">Input Addon</h3>
	            </div> -->
	            <div class="box-body">
	            	<form action="#"  @submit.prevent="submitForm()" autocomplete="off">
		              <div class="row">
		              	<div class="col-md-12">
		              		<h4 >Exam Settings</h4>
		              	</div>
		              	<div class="col-md-4">
                       <div class="form-group">
                          <label for="LastName">Exam Date</label>
                          <input class="form-control" data-val="true" id="last_name" name="last_name" v-model="exam_date" type="text"   required />
                       </div>
                    </div>
                    <div class="col-md-4">
                       <div class="form-group">
                          <label for="FirstName">Time</label>
                          <input class="form-control" id="first_name" name="first_name"  v-model="time"type="text"   required />
                       </div>
                    </div>
                    <div class="col-md-4">
                       <div class="form-group">
                          <label for="MiddleName">Room</label>
                          <input class="form-control"id="middle_name" name="middle_name" v-model="room" type="text"  required />
                       </div>
                    </div>
                     <div class="col-md-12">
                       <div class="form-group">
                          <label for="MiddleName">Issued by</label>
                          <input class="form-control" type="text"  name="suffix" v-model="issued_by" required />
                       </div>
                    </div>
		              </div>
		              <button class="btn btn-success" id="btnSubmit">Save</button>
	            	</form>
	            </div>
	            <!-- /.box-body -->
	          </div>
	          <!-- /.box -->
	        </div>
    	</div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
	.ladda-button {
		    padding: 7px 15px;
	}
</style>
<script type="text/javascript">

	export default{
	  data(){
	    return{
  			exam_date: '',
  			time: '',
  			room: '',
  			issued_by: ''
			}
	  },
	  mounted(){
	  	this.getData()
	  },
	  methods: {
	  	getData() {
	  		const url = `${base_url}/Exams/get_settings`;
        axios.get(url)
		     .then((response) => {
		     	var contents = response.data.settings
		     	contents.map((item, index) => {
	          this.exam_date = item.exam_date
	          this.time = item.time
	          this.room = item.room
	          this.issued_by = item.issued_by
	         })
		        this.list_courses = response.data.course;
		      })
		     .catch(function (error) {
		       console.log(error);
		     });
	  	},
	    submitForm () {
	    	confirm_alert('The exam settings will be updated','','info').then((response) => {
	    			var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
			    	l.start();
			    	let user_data =  JSON.stringify(this.user_data);
			    	let url = base_url+'Exams/save_setting';
				  	axios.post(url, {
			        token: getCookie('csrf_token'),
			        exam_date: this.exam_date,
			        time: this.time,
			        room: this.room,
			        issued_by: this.issued_by
			      })
			      .then((response) => {
			        if(response.data.message=="success") {
			            l.stop();
			            $("#btnSubmit").removeClass('ladda-button');
			            swal("Updated Successfully","","success");
			        }
			        else {
			        	console.log(response.data.message);
			        }
			      })
			      .catch(function (error) {
			        console.log(error);
			      });
	    	});
	    	
	    }
	  }
	}
</script>