<template>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Submitted Exams
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
     <div class="row">
      <div class="col-md-8">
       <!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Exams</h3>
            </div>
            <div class="box-body">
             <table id="tbl_submitted_exams" class="table table-bordered table-striped">
                <thead>
                <tr>
                 <th>Row</th>
                 <th>Name</th>
                 <th>Date Submitted</th>
                 <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                  <td>{{++index}}</td>
                  <td>{{val.last_name + ", " + val.first_name}} <span v-if="val.middle_name!=''"> {{val.middle_name}}</span></td>
                  <td >{{val.updated_at}}</td>
                  <td>
                   <button class="btn btn-default" @click="view(val.id)" ><i class="fa fa-eye" ></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
      </div>
     </div>
    </section>
  </div>
</template>
<script type="text/javascript">
 export default{
   data(){
     return{
        rows: [],
   }
   },
   mounted () {
      loading()
    this.setTable();
      setTimeout(()=>{
        close_loading()
      },1000)
   },
   methods: {
    setTable() {
        const url = `${base_url}/Exams/get_submitted_exams`;
        axios.get(url)
     		.then((response) => {
           this.rows = response.data.submitted_exams;
          setTimeout(() => {
            $('#tbl_submitted_exams').DataTable()
          })
        })
     .catch(function (error) {
       console.log(error);
     });
    },
    view(id) {
    	loading();
    	setTimeout(()=>{
        this.$router.push(`/view_exam/${escape(id).replace(/\//g,"$st")}`);
      },1000)
     
    },
   }
 }
</script>