<template>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       View Exam
        <small>View exam</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="row">
    	<div class="col-md-10">
    		<div class="box box-success">
    			<div class="box-body">
            <div class="row">
             <div class="col-md-12">
              <h3>Exam Summary</h3>
              <h4><b>Score:</b> {{score}} / {{total_items}}</h4>
              <h4 v-if="score < 33"><b>Status:</b> <span class="text-danger">Probationary</span></h4>
              <h4 v-else><b>Status:</b> <span class="text-success">Regular</span></h4>
              <h4><b>Course Suggestion:</b></h4>
              <div v-for="(val) in course_suggestion">
              	<h4>{{val}}</h4>
              </div>
             </div>
            </div>
           </div>
    		</div>
    	</div>
    </div>
     <div class="row">
      <div class="col-md-10">
           <!-- Input addon -->
           <div class="box box-success">
             <!-- <div class="box-header with-border">
               <h3 class="box-title">Input Addon</h3>
             </div> -->
             <div class="box-body">
                <div class="row">
                 <div class="col-md-12">
                  <!-- <h4 v-html="subject_name"></h4> -->
                 </div>
                </div>
                 <div class="row" v-for="(val, index) in numContent" :key="index">
                    <div class="col-md-7">
                      <label for="question">Question</label>
                      <div class="input-group">
                        <span class="input-group-addon">{{index + 1}}</span>
                        <input type="text" class="form-control" v-model="questions[index]" readonly>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <label for="choices">Choices</label>
                     	<div v-for="(val3, index3) in JSON.parse(choices[index])"  :key="index3" >
                     		<div class="input-group">
                     				<span class="input-group-addon" v-if="index3==0" :class="(answers[index] == 'A' ? (student_answer[index] == 'A' ? 'correct' : 'correct') : 
                     				(student_answer[index] != 'A' ? '' : 'wrong'))">A</span>
                     				<span class="input-group-addon" v-if="index3==1" :class="(answers[index] == 'B' ? (student_answer[index] == 'B' ? 'correct' : 'correct') : 
                     				(student_answer[index] != 'B' ? '' : 'wrong'))">B</span>
                     				<span class="input-group-addon" v-if="index3==2" :class="(answers[index] == 'C' ? (student_answer[index] == 'C' ? 'correct' : 'correct') : 
                     				(student_answer[index] != 'C' ? '' : 'wrong'))">C</span>
                     				<span class="input-group-addon" v-if="index3==3" :class="(answers[index] == 'D' ? (student_answer[index] == 'D' ? 'correct' : 'correct') : 
                     				(student_answer[index] != 'D' ? '' : 'wrong'))">D</span>
	                        	<input type="text" class="form-control" :value="val3" readonly>
	                      </div>
                     	</div>
                    </div>
                 </div>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
         </div>
     </div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
.correct {
	color: white !important;
	background: #00a65a !important;
}
.wrong {
	color: white !important;
	background: #d60c32 !important;
}

 .ladda-button {
      padding: 7px 15px;
 }
 .input-group {
  margin-bottom: 5px;
 }
 .bootstrap-select {
 	width: 100% !important;
 } 
</style>
<script type="text/javascript">

 export default{
   data(){
	     return{
	        exam_id: '',
	        score: 0,
	        questions: [],
	        choices:[],
	        answers: [],
	        student_answer: [],
	        courses:[],
	       	numContent: 0,
	       	numChoices: 4,
	       	course_suggestion: [],
	       	list_courses:[],
	       	total_items: 0
	   }
   },
   created(){
   
   },
   mounted(){
    loading()
    this.exam_id = this.$route.params.id.replace(/\$st/g,"/");
   	this.getExam()
   },
   methods: {
     getExam () {
      let url = base_url+'Exams/view_exam';
     	axios.post(url, {
         token: getCookie('csrf_token'),
         id: this.exam_id,
       })
       .then((response) => {
     		console.log(response.data.exam);
     	var exam = response.data.exam;
     		if(exam){
     			var question_desc =JSON.parse(exam.question_desc)
	        if(question_desc !=null && question_desc.length > 0) {
	        	this.questions = question_desc
	        	this.score = exam.score
	        	this.course_suggestion = exam.course_suggestion
	        	this.choices = JSON.parse(exam.question_choices)
	        	this.answers = JSON.parse(exam.question_answer)
	        	this.total_items = this.answers.length;
	        	this.student_answer = JSON.parse(exam.student_answer)
	        	this.courses = JSON.parse(exam.courses)
	        	this.numContent = question_desc.length;
	        }
     		}
	    }).then(()=>{
	    	close_loading();
	    }).catch(function (error) {
         console.log(error);
      });
     }
   }
 }
</script>