<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Courses
        <small>Add new course</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-6">
	          <!-- Input addon -->
	          <div class="box box-success">
	            <!-- <div class="box-header with-border">
	              <h3 class="box-title">Input Addon</h3>
	            </div> -->
	            <div class="box-body">
	            	<form action="#"  @submit.prevent="submitForm()" autocomplete="off">
		              <div class="row">
		              	<div class="col-md-12">
		              		<h4 >Course Information</h4>
		              	</div>
		              	<div class="col-md-12">
                   <div class="form-group">
                      <label for="LastName">Course Name</label>
                      <input class="form-control" data-val="true" id="last_name" name="last_name" v-model="course_data.course_name" type="text"   required />
                   </div>
                 </div>
		              </div>
		              <button class="btn btn-success" id="btnSubmit">Add Course</button>
	            	</form>
	            </div>
	            <!-- /.box-body -->
	          </div>
	          <!-- /.box -->
	        </div>
    	</div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
	.ladda-button {
		    padding: 7px 15px;
	}
</style>
<script type="text/javascript">

	export default{
	  data(){
	    return{
	    		course_data: {
	    			course_name: '',
	    		},
			}
	  },
	  mounted(){
	  },
	  methods: {
	    submitForm () {
	    	confirm_alert('The course will be added','','info').then((response) => {
	    			var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
			    	l.start();
			    	let course_data =  JSON.stringify(this.course_data);
			    	let url = base_url+'Courses/add';
				  	axios.post(url, {
			        token: getCookie('csrf_token'),
			        course_data: course_data
			      })
			      .then((response) => {
			        if(response.data.message=="success") {
			            l.stop();
			            $("#btnSubmit").removeClass('ladda-button');
			            swal("Added Successfully","","success");
			            setTimeout(()=>{
			            	window.location.href = base_url +"admin/Dashboard#/view_courses"
			            },2000)
			        }
			        else {
			        	console.log(response.data.message);
			        }
			      })
			      .catch(function (error) {
			        console.log(error);
			      });
	    	});
	    	
	    }
	  }
	}
</script>