@font-face {
  font-family: CloisterBlack;
  src: url(../../fonts/CloisterBlack.ttf);
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,700,700i,900,900i);

.admission_page body{
	font-family: 'Roboto';
}

.main-header {
	margin-bottom: 0px !important;
}
.main-header p {
	display: inline-block;
	font-size: 16px;
}

.main-banner {
	background:url('../../assets/images/homepagebg.jpg') 100% 100%;
	height: 460px;		
}

.main-banner h1, .main-banner p {
	color:#fff;
}

form.form-signin {
    padding: 10px 20px;
    border: 1px solid #e1e1e1;
    border-radius: 0px;
}

.authentication-container {
	margin:20px auto;
}

.transparent {
	background: transparent !important;
}

.letranlogo {
	height: 200px;
	margin-bottom: 20px;
}

.home_cta_btn {
	border-radius: 0px !important;
	padding:20px 80px;
}

.home-container {
	margin-top: -50px;
}

.home-header {
	font-family: 'CloisterBlack';
	font-size: 3.8rem;
	letter-spacing: 2px;
	text-shadow: -1px 4px 0px rgba(0,0,0,0.6);
}

.homebg {
	background: url('../images/letran.png') 100% 100%;
	background-size: cover;

}

.red{
	background: #e50039 !important;
}
.admission_page {
	height: 100%;
}
.admission-bg{
	background: url('../images/bgapply.jpg');
	/* Full height */
	  height: 100%; 

	  /* Center and scale the image nicely */
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
}

.admission-header{
	color:#fff;
}
.admission_page label {
	color:white !important;
}
.admission_cta {
	letter-spacing: 4px;
    border-radius: 0px;
    text-align: center;
    padding: 15px 50px;
    border-width: 2px;
    border-color: white;
    color: white;
    background: transparent;
    font-size: 14px;
}

.apply_now{
	letter-spacing: 4px;
    border-radius: 0px;
    text-align: center;
    padding: 15px 50px;
    border-width: 2px;
    border-color: white;
    color: white;
    background: #820909;
    font-size: 14px;
}
.apply_now:hover {
	background: #820909;
}

.admission_cta:hover {
	color:white;
	background: #03032d;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.apply_page h1{
	font-family: 'Roboto';
	    font-weight: 700;
}

.text-primary {
	color:#337AB7 !important;
}

.apply_page input[type=checkbox], input[type=radio] {
	margin-right: 10px;
}
.admission_banner{
	background: url('../images/admission.jpg') 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}


/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/admission.jpg")	;

  /* Set a specific height */
  height: 500px;

  /* Position and center the image to scale nicely on all screens */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.admin_login_page h2{
font-family: 'CloisterBlack';
	letter-spacing: 2px;
	color:black;
}

.dashboard_page body {
	font-family: 'Roboto';
}
.box {
	min-height: 200px;-webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.33);padding: 30px;
-moz-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.33);
box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.33);
}
/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}