<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       	Manage Applications
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-8">
    			<!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Applications</h3>
            </div>
            <div class="box-body">
            	<table id="tbl_applications" class="table table-bordered table-striped">
                <thead>
                <tr>
                	<th>Row</th>
                  <th>Name</th>
                  <!-- <th>Permit</th> -->
                  <th>Status</th>
                  <th>Date Submitted</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                  <td>{{++index}}</td>
                  <td>{{val.last_name + ", " + val.first_name + " " +val.middle_name }}</td>
                  <td v-if="val.status==0">Request for Tagging</td>
                  <td v-else-if="val.status==1">Enrolled</td>
                  <td v-else>Rejected</td>
                  <td >{{val.created_at}}</td>
                  <td>
                  	<button class="btn btn-default"  @click="edit(val.application_id)"><i class="fa fa-eye"></i></button>
                  	<button class="btn btn-default"  @click="sendAccess(val.reference_number)"><i class="fa fa-envelope"></i></button>
                  	<button class="btn btn-default" @click="generatePermit(val.reference_number)">Generate Permit Key</button>
                  	<!-- <button class="btn btn-default"><i class="fa fa-times" ></i></button> -->
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    		</div>
    	</div>
    </section>
  </div>
</template>
<script type="text/javascript">
	export default{
	  data(){
	    return{
        rows: [],
			}
	  },
	  mounted () {
      loading()
	  	  this.setTable();
      setTimeout(()=>{
        close_loading()
      },1000)
	  },
	  methods: {
	  	setTable() {
        const url = `${base_url}/Applications/get_applications`;
        axios.get(url)
			  .then((response) => {
           this.rows = response.data.applications;
          setTimeout(() => {
          	 $('#tbl_applications').DataTable()
          })
        })
			  .catch(function (error) {
			    console.log(error);
			  });
	  	},
	  	edit(id) {
	  		this.$router.push(`/edit_application/${escape(id).replace(/\//g,"$st")}`);
	  	},
	  	generatePermit(reference_number){
		  		const url = `${base_url}Applications/generatePermit`;
	        axios.post(url,{
	        	token: getCookie('csrf_token'),
				      reference_number: reference_number
	        })
				  .then((response) => {
       swal("Generated Successfully","Permit Key: "+response.data.permit_key,"success");
				  //	this.setTable();
	     })
				  .catch(function (error) {
				    console.log(error);
				  });
	  	},
	  	sendAccess(reference_number){
		  		const url = `${base_url}Admin/send_confirmation`;
	        axios.post(url,{
	        	token: getCookie('csrf_token'),
				      reference_number: reference_number
	        })
				  .then((response) => {
       			swal("Permission Sent Successfully","","success");
				  //	this.setTable();
	     })
				  .catch(function (error) {
				    console.log(error);
				  });
	  	}
	  }
	}
</script>