<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       	Manage Feedbacks
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-12">
    			<!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of feedbacks</h3>
            </div>
            <div class="box-body">
            	<table id="tbl_feedbacks" class="table table-bordered table-striped">
                <thead>
                <tr>
                	 <th>Row</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Feedback</th>
                  <th>Date Submitted</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                  <td>{{++index}}</td>
                  <td>{{val.last_name + ", " + val.first_name}} <span v-if="val.middle_name!=''"> {{val.middle_name}}</span></td>
                  <td>{{val.email}}</td>
                  <td>{{val.feedback}}</td>
                  <td >{{val.created_at}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    		</div>
    	</div>
    </section>
  </div>
</template>
<script type="text/javascript">
	export default{
	  data(){
	    return{
        rows: [],
			}
	  },
	  mounted () {
      loading()
	  	this.setTable();
      setTimeout(()=>{
        close_loading()
      },1000)
	  },
	  methods: {
	  	setTable() {
        const url = `${base_url}/feedbacks/get_feedbacks`;
        axios.get(url)
			  .then((response) => {
           this.rows = response.data.feedbacks;
          setTimeout(() => {
          	 $('#tbl_feedbacks').DataTable()
          })
        })
			  .catch(function (error) {
			    console.log(error);
			  });
	  	}
	  }
	}
</script>