<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Work History
        <small>Add new content</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-8">
          <!-- Input addon -->
          <div class="box box-success">
            <!-- <div class="box-header with-border">
              <h3 class="box-title">Input Addon</h3>
            </div> -->
            <div class="box-body">
            	<form action="#" id="add_work_history_form" @submit.prevent="submitForm()">
	              <div class="row">
	              	<div class="col-md-4">
	              		<label for="jobTitle">Job Title</label>
	              		<suggestions
									  v-model="work_history_data.roletemplate"
									  :options="searchOptions"
									  :onItemSelected="onSearchItemSelected"
									  :onInputChange="onInputChange">
									  <div slot="item" slot-scope="props" class="single-item">
									    <span class="name">{{props.item.RoleTemplate}}</span>
									  </div>
									</suggestions>
	              	</div>
	              	<div class="col-md-8">
	              		<label for="content">Content</label>
	              		<div v-for="(val, index) in numContent" :key="index" >
	              			<div  v-if="index == numContent - 1 ">
				                <!-- <input type="text" class="form-control" v-model="work_history_data.content[index]">
				                    <span class="input-group-btn">
				                      <button type="button" class="btn btn-info btn-flat" @click="addContent()"><i class="fa fa-plus"></i></button>
				                    </span> -->
				                    <textarea class="form-control" v-model="work_history_data.content[index]" rows="3" style="width:90%;display: inline-block;resize: vertical;"></textarea>
				                    <button type="button" class="btn btn-info btn-flat" @click="addContent()" style="display: inline-block;float:right;height: 70px;"><i class="fa fa-plus"></i></button>
				              </div>

				              <div v-else>
				              	<textarea class="form-control" v-model="work_history_data.content[index]" rows="3" style="resize: vertical;"></textarea>
	              			</div>
				              <br>
	              		</div>
	              		<center>
	              			<button class="btn btn-success btn-md" id="btnSubmit">Submit</button>
	              		</center>
	              	</div>
	              </div>
            	</form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <div class="col-md-4">
          <!-- Input addon -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title " style="text-align: center;display: block;">{{work_history_data.roletemplate}} Contents</h3>
            </div>
            <div class="box-body">
            	<div v-for="(val,index) in work_history_data.content" :key="index">
            		<div v-if="val">
            			<ul>
            				<li v-html="val"></li>
            			</ul>
            		</div>
            	</div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
    	</div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
	.ladda-button {
		    padding: 7px 15px;
	}
</style>
<script type="text/javascript">
	import Suggestions from 'v-suggestions'

	export default{
		components: { Suggestions },
	  data(){
	    return{
	    		work_history_data: {
	    			roletemplate: '',
	    			content: []
	    		},
		      numContent:5,
		      selectedSearchItem: null,
		      searchOptions:{'inputClass':'form-control'},
			}
	  },
	  methods: {
	  	addContent(){
	  		this.numContent++;
	  	},
	  	onInputChange (query) {
	      if (query.trim().length === 0) {
	        return null
	      }
	      const url = `${base_url}/admin/Work_History/search_job_title?q=${query}`
	      return new Promise(resolve => {
	        axios.get(url).then(response => {
	          const items = []
	          response.data.job_title.forEach((item) => {
	            if (item.RoleTemplate) {
	              items.push(item)
	            } else if (item.Topics && item.Topics.length > 0) {
	              item.Topics.forEach(topic => {
	                items.push(topic)
	              })
	            }
	          })
	          resolve(items)
	        })
	      })
	    },
	    onSearchItemSelected (item) {
	      this.work_history_data.roletemplate = item.RoleTemplate
	    },
	    submitForm () {
	    	confirm_alert('Are you sure?','This content will be saved to live','info').then((response) => {
	    			var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
			    	l.start();
			    	let work_history =  JSON.stringify(this.work_history_data);
				  	axios.post('Work_History/add', {
			        token: getCookie('csrf_cookie'),
			        work_history: work_history
			      })
			      .then((response) => {
			        if(response.data.message=="success") {
		            l.stop();
		            $("#btnSubmit").removeClass('ladda-button');
		            this.work_history_data.roletemplate = '';
		            this.work_history_data.content = [];
		            this.numContent = 5;
		            swal("Added successfully","","success");
			        }
			        else {
			        	console.log(response.data.message);
			        }
			      })
			      .catch(function (error) {
			        console.log(error);
			      });
	    	});
	    	
	    }
	  }
	}
</script>