<template>
		  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <!-- <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div> -->
    <strong>Copyright &copy; 2019 Colegio de San Juan Letran Calamba All rights
    reserved. </strong>
  </footer>
</template>