<template>
		<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img src="http://letranadmission.com/assets/images/admission_logo.png" class="img-responsive" style="height: 35px !important;
    margin: 0 auto;
    margin-top: 5px;"></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src="http://letranadmission.com/assets/images/admission_logo.png" class="img-responsive" style="margin-top: 5px;height:45px;display:block;margin:0 auto;"></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" @click="logout()"> 
              Logout
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <!-- <li class="user-header">
                <p>
                  Alexander Pierce - Web Developer
                  <small>Member since Nov. 2012</small>
                </p>
              </li> -->
              <!-- Menu Body -->
             <!--  <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div> -->
                <!-- /.row 
              </li>-->
              <!-- Menu Footer-->
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
 
</template>

<script type="text/javascript">
	export default{
   data(){
	     return{
	   }
	  },
   methods: {
   	logout() {
   		const url = `${base_url}/Admin/logout`;
      axios.get(url)
	     .then((response) => {
	        location.href =  response.data.url;
	      })
	     .catch(function (error) {
	       console.log(error);
	     });
   	}
   }
	}
</script>