<template>
		 <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree"  v-if="role=='MIS'">
        <li class="header">MAIN NAVIGATION</li>
        <li class="">
          	<router-link :to="{ name: '/' }" class=""><i class="fa fa-dashboard"></i>
		                    Dashboard</router-link>
        </li>
        <li class="treeview" >
          <a href="#">
            <i class="fa fa-users"></i> <span>Manage Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/add_users' }" class=""><i class="fa fa-circle-o"></i>
                    <span>Add</span></router-link>
            </li>
            <li>
          		<router-link :to="{ name: '/view_users' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View List</span></router-link>
          	</li>
          </ul>
        </li>
      </ul>

      <ul class="sidebar-menu" data-widget="tree" v-else-if="role=='Guidance Personnel'">
        <li class="header">MAIN NAVIGATION</li>
        <li class="">
          	<router-link :to="{ name: '/' }" class=""><i class="fa fa-dashboard"></i>
		                    Dashboard</router-link>
        </li>
      	<li class="treeview " >
          <a href="#">
            <i class="fa fa-graduation-cap"></i> <span>Manage Courses</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/add_course' }" class=""><i class="fa fa-circle-o"></i>
                    <span>Add</span></router-link>
            </li>
            <li>
              <router-link :to="{ name: '/view_courses' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View List</span></router-link>
            </li>
          </ul>
        </li>
      	<li class="treeview" >
          <a href="#">
            <i class="fa fa-edit"></i> <span>Exams</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li >
              <router-link :to="{ name: '/manage_subjects' }" class=""><i class="fa fa-circle-o"></i>
                    <span>Add Subject</span></router-link>
            </li>
            <li>
              <router-link :to="{ name: '/manage_exams' }" class=""><i class="fa fa-circle-o"></i>
                    <span>Manage Exam</span></router-link>
            </li>
            <li>
              <router-link :to="{ name: '/submitted_exams' }" class=""><i class="fa fa-circle-o"></i>
                    <span>Submitted Exams</span></router-link>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="sidebar-menu" data-widget="tree" v-else-if="role=='Admission Personnel'">
        <li class="header">MAIN NAVIGATION</li>
        <li class="">
          	<router-link :to="{ name: '/' }" class=""><i class="fa fa-dashboard"></i>
		                    Dashboard</router-link>
        </li>
      	<li class="treeview" >
          <a href="#">
            <i class="fa fa-edit"></i> <span>Exams</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/submitted_exams' }" class=""><i class="fa fa-circle-o"></i>
                    <span>Submitted Exams</span></router-link>
            </li>
            <li>
              <router-link :to="{ name: '/manage_settings' }" class=""><i class="fa fa-circle-o"></i>
                    <span>Examination Settings</span></router-link>
            </li>
          </ul>
        </li>
        <li>
          <router-link :to="{ name: '/view_applications' }" class=""><i class="fa fa-book"></i>
                <span>Applications</span></router-link>
        </li>
        <li >
          <router-link :to="{ name: '/view_feedbacks' }" class=""><i class="fa fa-comments-o"></i>
                <span>Feedbacks</span></router-link>
        </li>
        <li >
          <router-link :to="{ name: '/view_reports' }" class=""><i class="fa fa-line-chart"></i>
                <span>Reports</span></router-link>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>
<script type="text/javascript">
  export default{
    data(){
     return {
     	role: '',
     } 
    },
    mounted(){
      this.role = role
      console.log(this.role)
    }
  }
</script>