<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Reports
        <small></small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8">
        	<form class="form-inline" @submit.prevent="generate_data()">
					  <div class="form-group">
					    <label for="email">From:</label>
					    <input type="date" class="form-control" v-model="from" id="email" required>
					  </div>
					  <div class="form-group">
					    <label for="pwd">To:</label>
					    <input type="date" class="form-control" v-model="to" id="pwd" required >
					  </div>
					  <button type="submit" class="btn btn-default">Generate</button>
					</form>
					<br>
        	<div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-donut-chart-o"></i>
              <h3 class="box-title">Number of Applicants per city</h3>
            </div>
            <div class="box-body">
              <div id="donut-chart" style="height: 500px;"></div>
              <br>
              <br>
              <div id="bar-chart" style="height: 300px;"></div>
            </div>
            <!-- /.box-body-->
          </div>
         	
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
        	<div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-donut-chart-o"></i>
              <h3 class="box-title">Detailed Data of Applicants per city</h3>
            </div>
            <div class="box-body">
            	<div>
            		<table class="table table-stripped table-responsive">
            			<tr>
            				<th width="50%">City</th>
            				<th width="50%">Count</th>
            			</tr>
            			<tbody>
            				<tr v-for="(val,index) in donut_data" :key="index">
            					<td>{{val['label']}}</td>
            					<td>{{val['data']}}</td>
            				</tr>
            			</tbody>
            		</table>
            	</div>
            </div>
            <!-- /.box-body-->
          </div>
         	
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
  </div>
</template>
<style type="text/css">
	th,td{
		text-align: center
	}
</style>
<script type="text/javascript">
  export default{
    data(){
     return {
     	donut_data: '',
     	bar_data: '',
     	from:'',
     	to:''
     } 
    },
    mounted(){
      loading()
      this.getData()
      this.getBarChart()
      setTimeout(()=>{
        close_loading()
      },1000)
    },
    methods: {
    	generate_data(){

    		window.open(`${base_url}/Reports/print_report?from=${this.from}&to=${this.to}`,'_blank');
    	},
    	getData(){
    		const url = `${base_url}/Reports/get_reports`;
        axios.get(url)
	     .then((response) => {
	      	var donutData = response.data.reports
	      	this.donut_data = response.data.reports
			    $.plot('#donut-chart', donutData, {
			      series: {
			        pie: {
			          show       : true,
			          radius     : 1,
			          innerRadius: 0.3,
			          label      : {
			            show     : true,
			            radius   : 2 / 3,
			            formatter: labelFormatter,
			            threshold: 0.1
			          }

			        }
			      },
			      legend: {
			        show: false
			      }
			    })
	      })
	     .catch(function (error) {
	       console.log(error);
	     });
    	},
    getBarChart() {
    	const url = `${base_url}/Reports/get_reports_bar`;
        axios.get(url)
	     .then((response) => {
	      	var reports = response.data.reports;
	      	console.log(reports);
			    var bar_data = {
			      data : reports,
			      color: '#3c8dbc'
			    }
			    $.plot('#bar-chart', [bar_data], {
			      grid  : {
			        borderWidth: 1,
			        borderColor: '#f3f3f3',
			        tickColor  : '#f3f3f3'
			      },
			      series: {
			        bars: {
			          show    : true,
			          barWidth: 0.5,
			          align   : 'center'
			        }
			      },
			      xaxis : {
			        mode      : 'categories',
			        tickLength: 0
			      }
			    })
	      })
	     .catch(function (error) {
	       console.log(error);
	     });
    }
    }
  }
</script>
