<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       	Professional Summary
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-6">
    			<!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Job Titles</h3>
            </div>
            <div class="box-body">
            	<table id="tbl_prof_summary" class="table table-bordered table-striped">
                <thead>
                <tr>
                	<th>ID</th>
                  <th>Job Title</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                  <td>{{++index}}</td>
                  <td>{{val.RoleTemplate}}
                  </td>
                  <td>
                  	<button class="btn btn-default" @click="editJobTitle(val.RoleTemplate)"><i class="fa fa-edit" ></i></button>
                  	<button class="btn btn-default" @click="deleteJobTitle(val.RoleTemplate,index)"><i class="fa fa-times" ></i></button>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                	<th></th>
                  <th>Job Title</th>
                  <th>Actions</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    		</div>
    	</div>
    </section>
  </div>
</template>
<script type="text/javascript">
	export default{
	  data(){
	    return{
        rows: [],
			}
	  },
	  mounted () {
	  	this.setTable();
	  },
	  methods: {
	  	setTable() {
        const url = `${base_url}/admin/Prof_Summary/all_prof_job_title`;
        axios.get(url)
			  .then((response) => {
           this.rows = response.data.job_title;
          setTimeout(() => {
          	 $('#tbl_prof_summary').DataTable()
          })
           close_loading();
        })
			  .catch(function (error) {
			    console.log(error);
			  });
	  	},
	  	editJobTitle(RoleTemplate) {
	  		this.$router.push(`/edit_prof_summary/${escape(RoleTemplate).replace(/\//g,"$st")}`);
	  	},
	  	deleteJobTitle(RoleTemplate,index) {
	  		confirm_alert('Are you sure?','You won\'t be able to revert this! ','warning').then((response) => {
		  		const url = `${base_url}/admin/Prof_Summary/delete`;
	        axios.post(url,{
	        	 token: getCookie('csrf_cookie'),
				     RoleTemplate: RoleTemplate
	        })
				  .then((response) => {
				  	/* $('#tbl_prof_summary').DataTable().clear();
				  	this.setTable();
	           close_loading();*/
	        	location.reload();
	        })
				  .catch(function (error) {
				    console.log(error);
				  });
				});
	  	}
	  }
	}
</script>